.orders-container {
    width: 100%;
    overflow: hidden;
  }
  
  .order-card {
    float: left;
    background-color: #dbdce8;
    border: 2px solid #281993;
    margin: 10px;
    padding: 10px;
    border-radius: 50px;
  }
  